*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: aqua;
}
.hide{
  display: none;
}
.show{
  display: flex;
}
button{
  padding: .5rem
 
}